/*
Aicraft View
*/
#aircraftView {
	border: 1px solid #eee;
	display: table;
	padding: 0.5em;
	.airplane, .details {
		display: table-cell;
	}
	.details {
		vertical-align: top;
		li {
			display: table-row;
			label, span {
				display: table-cell;
				line-height: 1.3em;
				padding: 0 0.5em;
			}
		}
	}
}