/* --------------------------------------------------------------------
************************* Modify in pos.layout.SCSS *************************
[Table of contents]

1. Body

2. Mixins
	[2.1. Linear Gradient / @mixin linearGradient]

3. Views
	3.1. Aircraft View / #aircraftView

-------------------------------------------------------------------- */

/*------------------------------------------------------------------
[2.1. Linear Gradient / @mixin linearGradient]
*/
@mixin linearGradient($degreeAngle, $firstColor, $secondColor) {
	background-image: -webkit-linear-gradient($degreeAngle, $firstColor, $secondColor);
	background-image: -moz-linear-gradient($degreeAngle, $firstColor, $secondColor);
	background-image: linear-gradient($degreeAngle, $firstColor, $secondColor);
}

/*------------------------------------------------------------------
[3.1. Aircraft View / #aircraftView]
*/
#aircraftView {
	@include linearGradient(0deg, #f33, #f99);
	border: 1px solid #eee;
	display: table;
	padding: 0.5em;
	.airplane, .details {
		display: table-cell;
	}
	.details {
		vertical-align: top;
		li {
			display: table-row;
			label, span {
				display: table-cell;
				line-height: 1.3em;
				padding: 0 0.5em;
			}
		}
	}
}

