/* --------------------------------------------------------------------
************************* Modify in layout.SCSS *************************
[Table of contents]

1. Body

2. Mixins

3. Views
	3.1. Aircraft View / #aircraftView

-------------------------------------------------------------------- */

/*------------------------------------------------------------------
[3.1. Aircraft View / #aircraftView]
*/
#aircraftView {
	border: 1px solid #eee;
	display: table;
	padding: 0.5em;
	.airplane, .details {
		display: table-cell;
	}
	.details {
		vertical-align: top;
		li {
			display: table-row;
			label, span {
				display: table-cell;
				line-height: 1.3em;
				padding: 0 0.5em;
			}
		}
	}
}

