!!! 5
%html
	%head
		%title
		%link{ :href => 'css/reset.css', :rel => 'stylesheet' }
		%link{ :href => 'css/design.css', :rel => 'stylesheet' }
		%script{ :'data-main' => 'js/main', :src => 'js/libs/require/require.js' }

	%body
		%script{ :src => 'js/libs/jquery/jquery.js'}
		%script{ :src => 'js/libs/underscore/underscore.js'}
		%script{ :src => 'js/libs/backbone/backbone.js'}