!!! 5
%html
	%head
		%title
		%link{ :href => 'css/reset.css', :rel => 'stylesheet' }
		%link{ :href => 'css/design.css', :rel => 'stylesheet' }
		%script{ :'data-main' => 'js/main', :src => 'js/libs/require/require.js' }

		/ underscore templates
		%script{ :id => 'aircraft', :type => 'text/template'}
			%img{ :src => 'http://static.tvtropes.org/pmwiki/pub/images/Hello_Kitty_Pink_2981.jpg'}

			.details
				%p <%= cargo_capacity %>
				%p <%= fuel_capacity %>
				%p <%= range %>
				%p <%= speed_cruise %>

	%body
		#aircraftView

		%script{ :src => 'js/libs/jquery/jquery.js'}
		%script{ :src => 'js/libs/underscore/underscore.js'}
		%script{ :src => 'js/libs/backbone/backbone.js'}