!!! 5
%html
	%head
		%title
		%link{ :href => 'css/reset.css', :rel => 'stylesheet' }
		%link{ :href => 'css/design.css', :rel => 'stylesheet' }
		%script{ :'data-main' => 'js/main', :src => 'js/libs/require/require.js' }
		%script{ :src => 'js/libs/jquery/jquery.js' }
		%script{ :src => 'js/libs/underscore/underscore.js' }
		%script{ :src => 'js/libs/backbone/backbone.js' }

		/ underscore templates
		%script{ :id => 'aircraft', :type => 'text/template'}
			.airplane
				%img{ :src => 'http://media-cache-ec4.pinterest.com/192x/b0/20/12/b02012a58b2d2ae8ee9fd0402904eeeb.jpg'}

			.details
				%ul
					%li
						%label{:for => 'cargo_capacity'} Cargo Capacity
						%span#cargo_capacity <%= cargo_capacity %>
					%li
						%label{:for => 'fuel_capacity'} Fuel Capacity
						%span#fuel_capacity <%= fuel_capacity %>
					%li
						%label{:for => 'range'} Range
						%span#range <%= range %>
					%li
						%label{:for => 'speed_cruise'} Speed -> Cruise
						%span#speed_cruise <%= speed_cruise %>
					%li
						%label{:for => 'speed_max'} Speed -> Max
						%span#speed_max <%= speed_max %>
					%li
						%label{:for => 'service_altitude'} Service Altitude
						%span#service_altitude <%= service_altitude %>

	%body
		#aircraftView