!!! 5
%html
	%head
		%title Flights
		%script{ :src => 'js/data/flights.aircraft.js'}
		%script{ :src => 'js/data/flights.locations.js'}
		%script{ :src => 'js/flights.distance.js'}
		%script{ :src => 'http://code.jquery.com/jquery-1.9.1.min.js'}